{{ 'onqor.img-with-text.scss.css' | asset_url | stylesheet_tag }}

<!-- {% assign i = 0 %} -->

{% assign i = 0 | plus:1 %}

<!-- {{ i | json }} -->

<section class="Section onqor-img-with-text" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="image-with-text-block">
  <div class="onqor-img-with-text__content-container">
  <!--   <div class="over-line"></div>
 --><h2>{{ section.settings.title }}</h2>
    <div class="onqor-img-with-text__content-container-inside">
      {% if section.settings.image-two == blank %}
        {% if section.settings.video_url == blank %}
          <div class="onqor-img-with-text__image">
            <img src="{{ section.settings.image | img_url: "500x" }}"/>
          </div>
        {% else %}
          <div class="onqor-img-with-text__video">
            <div class="video-play-button"><div class="arrow-right"></div></div>
            <video id="{{ section.settings.title | remove: " "}}" controls>
              <source src="{{ section.settings.video_url }}" type="video/mp4">
            </video>
          </div> 
        {% endif %}
      {% else %}
        <div class="onqor-img-with-text__image onqor-img-with-text__image--two-images ">
          <img src="{{ section.settings.image | img_url: "500x" }}"/>
          <img src="{{ section.settings.image-two | img_url: "500x" }}"/>
        </div>
      {%- endif -%}
      
      <div class="onqor-img-with-text__content">
        {{ section.settings.content }}
        {%- if section.settings.button_label != blank -%}
        <a href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  //For Firefox we have to handle it in JavaScript 
  var vids = $("video"); 
  $.each(vids, function(){
         this.controls = false; 
  }); 
  //Loop though all Video tags and set Controls as false

  $("#{{ section.settings.title | remove: " " }}").click(function(event) {
    //console.log(this); 
    if(!event.detail || event.detail == 1){
      if (this.paused) {
        this.play();
        $('.video-play-button').fadeOut();
      } else {
        this.pause();
        $('.video-play-button').fadeIn();
      }
    }
  });
</script>

{% schema %}
{
  "name": "Onqor video & text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1500 x 800px jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "image-two",
      "label": "Image two",
      "info": "1500 x 800px jpg recommended"
    },
    {
        "type": "text",
        "id": "video_url",
        "label": "YouTube video URL"
     },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "select",
      "id": "block_size",
      "label": "Block size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your story"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "show_parallax",
      "label": "Show parallax scrolling effect",
      "info": "Only applies to desktop.",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "ADVANCED LAYOUT",
      "name": "onqor Image with text block",
      "settings": {}
    }
  ]
}
{% endschema %}